@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0,0,0;
  --background-rgb: 235, 231, 222;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb))
}

@layer base {
  h1 {
    @apply text-4xl font-bold;
  }

  a.active {
    @apply text-pink-700;
  
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
