@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0,0,0;
  --background-rgb: 235, 231, 222;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb))
}

@layer base {
  h1 {
    @apply text-4xl font-bold;
  }

  h2 {
    @apply text-xl font-bold;
  }

  h4 {
    @apply text-base font-bold;
  }

  a {
    @apply underline;
  }

  a.active {
    @apply text-pink-700;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .btn {
    @apply font-bold tracking-widest bg-black text-white rounded-full py-1 px-5 w-fit;
  }
}
